#contact-main-btn {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  position: relative;
}

#paperplane {
  width: 50px;
}

.big-contact {
  width: 45px;
  position: absolute;
}

.small-contact {
  width: 35px;
  position: absolute;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#contact-mail {
  right: 0;
  top: -55px;
  animation: dropdown 0.5s ease-in-out;
  cursor: pointer;
}

#contact-fb {
  right: 55px;
  top: -35px;
  animation: dropdown 1s ease-in-out;
  cursor: pointer;
}

#contact-yt {
  right: 80px;
  top: 5px;
  animation: dropdown 1.5s ease-in-out;
  cursor: pointer;
}

#contact-ig {
  right: 75px;
  bottom: -15px;
  animation: dropdown 2s ease-in-out;
  cursor: pointer;
}

#contact {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
