#contact {
  z-index: 9999;
  position: fixed;
  bottom: 65px;
  right: 50px;
}

#contact-main-btn {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  position: relative;
  -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

#contact-bubble{
  position: absolute;
  right: 90px;
  top: -95px;
  animation: dropdown 0.8s ease-in-out;
}

#contact-bubble-box{
  width: 300px;
  margin: 50px auto;
  background: #ffffff;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  color: #2d435b;
  position: relative;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0.9;
}

#contact-bubble-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -15px;
}

.contact-close {
  position: absolute;
  left: 10px;
  top: 50px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 99;
  cursor: pointer;
}
.contact-close:hover {
  opacity: 1;
}
.contact-close:before, .contact-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.contact-close:before {
  transform: rotate(45deg);
}
.contact-close:after {
  transform: rotate(-45deg);
}


#paperplane {
  width: 50px;
}

.big-contact {
  width: 45px;
  position: absolute;
  cursor: pointer;
}

.small-contact {
  width: 35px;
  position: absolute;
  cursor: pointer;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#contact-mail {
  right: 0;
  top: -55px;
  animation: dropdown 0.5s ease-in-out;
  cursor: pointer;
}

#contact-fb {
  right: 55px;
  top: -35px;
  animation: dropdown 1s ease-in-out;
  cursor: pointer;
}

#contact-yt {
  right: 80px;
  top: 5px;
  animation: dropdown 1.5s ease-in-out;
  cursor: pointer;
}

#contact-ig {
  right: 75px;
  bottom: -15px;
  animation: dropdown 2s ease-in-out;
  cursor: pointer;
}

#contact-tiktok {
  right: 35px;
  bottom: -45px;
  animation: dropdown 2.5s ease-in-out;
  cursor: pointer;
}

#contact-linkedin {
  right: -10px;
  bottom: -43px;
  animation: dropdown 3s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media screen and (max-width: 935px) {
  #contact {
    bottom: 60px;
    right: 30px;
  }

  #contact-bubble-box{
    width: 250px;
    margin: 50px auto;
    padding: 15px;
    right: -15px;
    bottom: -15px;
  }

  .contact-close {
    left: 25px;
    top: 65px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 767px) {
  #contact {
    bottom: 60px;
    right: 20px;
  }

  #paperplane {
    width: 35px;
  }

  .big-contact {
    width: 40px;
  }

  .small-contact {
    width: 30px;
  }

  #contact-yt {
    right: 78px;
  }

  #contact-ig {
    right: 69px;
  }

  #contact-tiktok {
    right: 35px;
  }

  #contact-main-btn {
    width: 50px;
    height: 50px;
  }
}


@media screen and (max-width: 414px) {
#contact-bubble-box{
  width: 150px;
  margin: 50px auto;
  padding: 10px 15px;
  right: -30px;
  bottom: -15px;
}

.contact-close {
  left: 28px;
  top: 65px;
  width: 15px;
  height: 15px;
  }

  .contact-close:before, .contact-close:after {
    height: 15px;
  }
}
