#hp-hamburger {
  z-index: 100000 !important;
}
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  /* margin-bottom: 10px; */
  color: #2d435b;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #607b98;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  right: 36px;
  top: 25px;
  z-index: 10000 !important;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2d435b;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 12px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #2d435b;
}

/* General sidebar styles */
.bm-menu {
  background: #fff5f3;
  padding-top: 50px;
  font-size: 1.15em;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hamburger-active {
  background-color: #2d435b;
  color: #ffffff;
}

.hamburger-text {
  border-top: 1px solid #2d435b;
  padding: 15px 25px;
}

.hamburger-last {
  border-bottom: 1px solid #2d435b;
}

@media screen and (max-width: 767px) {
  .bm-burger-button {
    display: block;
    z-index: 10000 !important;
  }
}

@media screen and (max-width: 414px) {
  #nav-logo {
    width: 60px;
  }

  #hp-hamburger{
    width: 220px !important;
  }

  .bm-burger-button {
    width: 30px;
    height: 21px;
    right: 22px;
    top: 22px;
  }
}
