#about-info-section {
  background-color: #fff9f7;
  border-radius: 80px;
  margin: 100px 0px;
  padding: 45px 50px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: relative;
}

#about-info-section > .bg3-text {
  text-align: center;
}

#about-headphone {
  width: 150px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
}

#about-description {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}

.about-orange-box {
  background-color: #ea7155;
  border-radius: 73px;
  color: #ffffff;
  padding: 7px 15px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  height: fit-content;
  position: relative;
  cursor: pointer;
}

.chevron{
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 27%;
}

#about-description > div {
  text-align: center;
  position: relative;
  display: grid;
  /* grid-template-rows: 1fr 0.5fr 1fr; */
}

#about-description > div > h1 {
  margin-bottom: 15px;
}

/* Why Section */
#why-box {
  background-color: #fff9f7;
  padding: 30px 50px 30px 330px;
  margin-bottom: 40px;
  border-radius: 80px;
  position: relative;
}

#sofa-why {
  background-color: #fdfdfd;
  padding: 15px 35px;
  border-radius: 80px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: absolute;
  top: -35px;
  left: 10px;
}

.about-banner {
  text-align: center;
  background-position: center center;
  background-size: cover;
  border-radius: 200px;
  background-repeat: no-repeat;
  padding: 20px 0px;
}

.about-hr {
  border: 1px solid #707070;
  width: 20%;
}

#vision-section {
  margin-top: 45px;
  margin-bottom: 30px;
}

#mission-section {
  margin-top: 30px;
  margin-bottom: 55px;
}

.answer {
  display: none;
}

.answer.active {
  display: block;
  padding-top: 20px;
  height: 0%;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%)
  } to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1100px) {
#about-description {
  display: block;
  margin-top: 20px;
}

.about-orange-box {
  margin-top: 20px;
}
}

@media screen and (max-width: 980px) {
  #about-description > div {
    /* grid-template-rows: 0.8fr 0.5fr 1fr; */
  }

  #why-box {
    padding: 100px 30px 30px 30px;
    margin-bottom: 40px;
  }

  #sofa-why {
    top: -40px;
  }
}

@media screen and (max-width: 767px) {
  #aboutus {
    margin-top: 80px;
  }
  #why-box {
    padding: 80px 30px 30px 30px;
    margin-bottom: 40px;
  }

  .chevron{
    right: 20px;
  }
}

@media screen and (max-width: 700px) {

  .answer.active {
    padding-top: 15px;
  }

  #about-info-section{
    border-radius: 20px;
  }

  .about-banner {
    padding: 20px;
    border-radius: 80px;
  }
}

@media screen and (max-width: 414px) {
  #sofa-why {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 34px;
  }

  .answer.active {
    padding-top: 10px;
  }

  .about-banner{
    border-radius: 30px;
  }

  .chevron{
    right: 10px;
  }

  #why-box {
    padding: 50px 15px 30px 15px;
    margin-bottom: 40px;
  }

  #about-info-section {
    padding: 20px 15px;
  }

  #about-headphone {
    position: relative;
    top: inherit;
    left: 0;
    margin: 0;
    width: 100px;
  }

  #headphone-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #why-section {
    margin-top: 100px;
  }

  #about-info-section {
    margin: 30px 0px;
  }
}

@media screen and (max-width: 360px) {
  #sofa-why {
    position: relative;
  }

  #why-section {
    margin-top: 60px;
  }

  #sofa-why > h1 {
    text-align: center;
  }
}
