#home {
  background-color: #fff5f3;
  padding-top: 30px;
}

/* Main Section */
#home-vinyl-section {
  opacity: 0.65;
  position: relative;
}

#main-section-play-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-play-text{
  width: 250px;
  text-align: center;
}

.home-vinyl {
  width: 260px;
  position: relative;
}

.headset {
  position: absolute;
  opacity: 0.2;
}

.vinyl-mc {
  position: relative;
  z-index: 1;
}

.vinyl-disc {
  position: absolute;
  z-index: 2;
}

.rotate {
  animation: rotation 5s linear infinite;
}

.vinyl-play {
  position: absolute;
  z-index: 3;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Home Player */
.home-player {
  width: 90% !important;
  height: 90% !important;
}

#main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#main-section > div:first-child {
  text-align: center;
}

#main-section > div:nth-child(2) {
  align-items: center !important;
}

#mid-img > img {
  /* width: 300px; */
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 28px;
}

#mid-img {
  position: relative;
  background-image: linear-gradient(to bottom, #fdf6f4, #f1c6bc);
  /* opacity: 0.4; */
  border-radius: 28px;
}

/* #mid-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ffffff, #ea7155);
  opacity: 0.4;
  border-radius: 28px;
} */

#home-swiper {
  padding-bottom: 45px;
  margin-bottom: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #2d435b !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

#home-carousal {
  width: 300px;
}

.swiper-pagination {
  bottom: 0px !important;
}

#main-music-section {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-music {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.music-flex {
  text-align: center;
}

.music-flex > img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  background-position: center;
  border-radius: 28px;
  cursor: pointer;
}

.blue-clr {
  width: 16px;
  height: 16px;
  margin: 15px 10px;
  background-color: #2d435b;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.blue-clr-active {
  background-color: #f7ccc2 !important;
}

#main-btn > button {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-radius: 39px;
  background-color: #2d435b;
  border: none;
  color: #ffffff;
}

#main-btn {
  position: relative;
  cursor: pointer;
}

#main-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #2d435b, #9aa4b0, #2d435b);
  opacity: 0.3;
  border-radius: 39px;
}

/* Description Section */
#desc-section {
  margin-top: 40px;
  text-align: center;
}

#desc-logo {
  width: 250px;
  margin-top: 40px;
}

#desc-banner-section {
  margin: 80px 0px 160px 0px;
  position: relative;
}

#desc-banner {
  border: 1px solid #9aa4b0;
  width: 100%;
  border-radius: 142px;
  height: 350px;
}

#desc-banner > img {
  height: 350px;
  width: 100%;
  border-radius: 142px;
  opacity: 0.9;
  object-fit: cover;
}

#desc-abs {
  position: absolute;
  bottom: -90px;
  width: 100%;
}

#banner-flex-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-disc {
  width: 170px;
  border: 7px solid #ffffff;
  border-radius: 50%;
  background-color: white;
}

.opa-text {
  opacity: 0.7;
}

.blue-line {
  border: 1px solid #2d435b;
  margin: 25px 0px;
  width: 25%;
}

/* Update Section */
.fb-iframe {
  border: none;
  overflow: hidden;
  width: 340px;
  height: 500px;
}

#update-section {
  margin-top: 170px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#update-section > div:nth-child(2) > .bg-text {
  margin-bottom: 80px;
}

.update-box {
  background-color: #ffffff;
  padding: 25px 55px;
  border-radius: 64.5px;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.bbl {
  width: 57px;
  position: absolute;
  bottom: -19px;
  left: 0px;
  z-index: 2;
}

.bbr {
  width: 57px;
  position: absolute;
  bottom: -19px;
  right: 0px;
  z-index: 2;
}

.bubble-box {
  position: relative;
  opacity: 0.69;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px;
}

@media screen and (max-width: 980px) {
  .home-vinyl {
    width: 200px;
  }

  #home-carousal {
    width: 240px;
  }
  .banner-disc {
    width: 130px;
  }
  #desc-abs {
    bottom: -70px;
  }
  #desc-banner, #desc-banner > img {
    border-radius: 80px;
    height: 237px;
  }
  
  #update-section {
    margin-bottom: 100px;
  }
  .music-flex > img {
    width: 90px;
    height: 90px;
    border-radius: 20px;
  }
}
/*
@media screen and (max-width: 1440px) {
  .home-player {
    width: 280px !important;
    height: 90% !important;
  }
}

@media screen and (max-width: 1024px) {
  .home-player {
    width: 80% !important;
    height: 90% !important;
  }
} */

@media screen and (max-width: 960px) {
  #main-section {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  #mid-img {
    height: 100%;
  }
  #main-music-section {
    display: none;
  }
  .home-vinyl {
    width: 230px;
  }
}

@media screen and (max-width: 935px) {
  #update-section > div:nth-child(2) > .bg-text {
    margin-bottom: 25px;
  }
  #update-section {
    gap: 20px;
  }
  .update-box {
    padding: 15px 25px;
    border-radius: 25px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  #home {
    padding-top: 130px;
  }
}

@media screen and (max-width: 640px) {
  #update-section {
    display: flex;
    margin-top: 70px;
  }

  #update-section > div:first-child {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-disc {
    width: 100px;
    border: 3px solid #ffffff;
  }

  #desc-banner, #desc-banner > img {
    border-radius: 40px;
  }
}

@media screen and (max-width: 580px) {
  .home-vinyl {
    width: 170px;
  }
  #home-vinyl-section{
    display: none !important;
  }
  #main-section{
    display: flex;
    flex-direction: column-reverse;
  }
  br {
    display: none;
  }

  #desc-banner-section {
    margin: 80px 0px 140px 0px;
  }

  .home-player {
    width: 90% !important;
    height: 90% !important;
  }

  #update-section {
    margin-bottom: 60px;
  }

  #mid-img {
    height: 70%;
    padding: 10px;
  }
}

@media screen and (max-width: 414px) {
  .home-vinyl {
    width: 140px;
  }

  .home-play-text{
    width: 80%;
  }

  .fb-iframe {
    width: 100%;
    height: 450px;
  }

  #home {
    padding-top: 100px;
  }

  #desc-banner-section {
    margin: 60px 0px 80px 0px;
  }

  #desc-abs {
    bottom: -35px;
  }

  .banner-disc {
    width: 80px;
    border: 2px solid #ffffff;
  }
}

@media screen and (max-width: 375px) {
  .banner-disc {
    width: 65px;
    border: 2px solid #ffffff;
  }
}

@media screen and (max-width: 360px) {
  .home-vinyl {
    width: 120px;
  }
}
